html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body.homepage{
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  width: 500px;
  margin: auto;
  position: relative;
    top: 50%;
  transform: translateY(-50%);
}
.logo{
  font-size: 32px;
  color: white;
  margin-bottom: 15px;
  margin-top: 0;
}
.tagline{
  font-size: 20px;
  color: white;
}
.button{
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;

}
.button:hover{
  background: silver  ;
  color: blueviolet;
}

/*
Chat Page
*/

.member-area{
  position: fixed;
  top : 0;
  bottom: 0;
  left: 0;
  width: 30%;
  background-color: gray;
  color: black;

}
.user-area{
  background: white;
  padding: 10px;
  border:
}
.logout{
  float: right;
}
.member{
  padding: 10px;
  border-bottom: solid 1px white;
}
.member:hover{
  background: white;
  color: black;
}
.message-area{
  background: silver;
  position: fixed;
  left: 30%;
  top: 0;
  bottom: 0;
  width: 70%;
}
 .chat-info{
   background-color: darkgray;
   padding: 10px;
   color: black;
   border-radius: 4px;
 }
.member.active{
  font-weight: bold;
  background-color: white;
  color: black;
}
.messages{
  background: white;
  height: 100%;
  padding: 10px;
    height: 80%;
    overflow: auto;
    
}
.message{
  background: lightblue;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;

}
.message.by-user{
  background: brown;
}

.chat-form {
    position: fixed;
    padding: 20px;
    width: 70%;
    left: 30%;
    bottom: 0;
    background: brown;
}
.chat-message{
  padding: 10px;
  border: solid 1px lightgray;
  border-radius: 4px;
  display: black;
  width: 100%;
}
